p{
       font-family:Arial;
      }
      .grids{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 5px;
      row-gap: 5px;
      padding-top: 80px;
      margin-left: 120px;
    }
    body{
      padding-bottom: 1000px;
      background-color: rgb(255, 250, 250);
    }
    